In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
latlong = pd.read_csv('E:\DataScienceCampus_ineuron\Projects\DataVisualization-plotly\district wise centroids.csv')
latlong

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [3]:
latlong.shape

(594, 4)

In [4]:
latlong.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      594 non-null    object
 1   District   594 non-null    object
 2   Latitude   594 non-null    float64
 3   Longitude  594 non-null    float64
dtypes: float64(2), object(2)
memory usage: 18.7+ KB

In [5]:
census=pd.read_csv("E:\DataScienceCampus_ineuron\Projects\DataVisualization-plotly\india-districts-census-2011.csv")

In [6]:
census = census[['District code','District name','Population','Male','Female','Literate','Households_with_Internet','Male_Literate','Female_Literate',
'Hindus','Muslims','Christians','Sikhs','Buddhists','Jains','Others_Religions','Religion_Not_Stated',
'Housholds_with_Electric_Lighting','LPG_or_PNG_Households','Rural_Households','Urban_Households',

'Below_Primary_Education','Primary_Education','Middle_Education','Secondary_Education','Higher_Education','Graduate_Education','Other_Education' ,'Total_Education','Age_Group_0_29'	,'Age_Group_30_49'	,'Age_Group_50'	,'Age not stated','Having_latrine_facility_within_the_premises_Total_Households',
'Household_size_1_person_Households',	'Household_size_2_persons_Households',	'Household_size_3_persons_Households',		'Household_size_4_persons_Households',	'Household_size_5_persons_Households', 'Household_size_6_8_persons_Households',	'Household_size_9_persons_and_above_Households'	
]]

In [7]:
# census

In [8]:
census.shape

(640, 41)

In [9]:
final_df = latlong.merge(census, left_on='District', right_on='District name').drop(columns='District name')

In [10]:
final_df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,...,Age_Group_50,Age not stated,Having_latrine_facility_within_the_premises_Total_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_3_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,...,422522,77788,191052,27018,80780,103066,182282,132039,114585,12000
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,...,739612,47575,353948,36633,106460,156107,291388,196768,153243,20566
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,...,807430,59402,382377,55151,132169,175853,311451,190750,142837,13905
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,...,948122,2892,800168,95856,239150,275218,468704,208570,112434,7478
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,...,928462,4078,762845,83026,212589,229537,413160,200288,139120,10111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,5357,...,520122,2436,266247,26008,76538,128796,193851,169987,209643,34115
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,7951,...,991413,4236,617358,58934,159421,261786,396087,305744,320901,59019
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,12787,...,934417,2369,955780,39958,120563,264946,367982,223354,186713,28340
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,3551,...,484166,3116,67448,19260,42004,68614,125289,114048,151353,48686
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,2883,...,385155,1087,164644,14723,47047,81917,126359,118682,179210,30234

In [11]:
#we are calculating female sex ratio
final_df['sex_ratio'] = round((final_df['Female']/final_df['Male'])*1000).astype('int')

In [21]:
final_df.to_csv('India.csv', index=False)

In [18]:
final_df['literacy_rate'] = round((final_df['Literate']/final_df['Population'])*100).astype('int')

In [19]:
final_df

,State,District,Latitude,Longitude,District code,Population,Male,Female,Literate,Households_with_Internet,...,Having_latrine_facility_within_the_premises_Total_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_3_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households,sex_ratio,literacy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,2741239,1369597,1371642,1483347,5512,...,191052,27018,80780,103066,182282,132039,114585,12000,1001,54
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,4081148,2064495,2016653,2310960,8606,...,353948,36633,106460,156107,291388,196768,153243,20566,977,57
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,4174064,2090204,2083860,2667878,13763,...,382377,55151,132169,175853,311451,190750,142837,13905,997,64
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,5154296,2569688,2584608,3288577,22411,...,800168,95856,239150,275218,468704,208570,112434,7478,1006,64
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,4887813,2440521,2447292,2960441,19383,...,762845,83026,212589,229537,413160,200288,139120,10111,1003,61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,3988845,2051541,1937304,2086432,5357,...,266247,26008,76538,128796,193851,169987,209643,34115,944,52
513,West Bengal,Murshidabad,24.259507,88.168169,333,7103807,3627564,3476243,4055834,7951,...,617358,58934,159421,261786,396087,305744,320901,59019,958,57
514,West Bengal,Nadia,23.564110,88.582930,336,5167600,2653768,2513832,3480555,12787,...,955780,39958,120563,264946,367982,223354,186713,28340,947,67
515,West Bengal,Puruliya,23.254192,86.396853,340,2930115,1496996,1433119,1624905,3551,...,67448,19260,42004,68614,125289,114048,151353,48686,957,55
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,3007134,1551066,1456068,1489667,2883,...,164644,14723,47047,81917,126359,118682,179210,30234,939,50

In [20]:
final_df.columns

Index(['State', 'District', 'Latitude', 'Longitude', 'District code',
       'Population', 'Male', 'Female', 'Literate', 'Households_with_Internet',
       'Male_Literate', 'Female_Literate', 'Hindus', 'Muslims', 'Christians',
       'Sikhs', 'Buddhists', 'Jains', 'Others_Religions',
       'Religion_Not_Stated', 'Housholds_with_Electric_Lighting',
       'LPG_or_PNG_Households', 'Rural_Households', 'Urban_Households',
       'Below_Primary_Education', 'Primary_Education', 'Middle_Education',
       'Secondary_Education', 'Higher_Education', 'Graduate_Education',
       'Other_Education', 'Total_Education', 'Age_Group_0_29',
       'Age_Group_30_49', 'Age_Group_50', 'Age not stated',
       'Having_latrine_facility_within_the_premises_Total_Households',
       'Household_size_1_person_Households',
       'Household_size_2_persons_Households',
       'Household_size_3_persons_Households',
       'Household_size_4_persons_Households',
       'Household_size_5_persons_Households',
       'Household_size_6_8_persons_Households',
       'Household_size_9_persons_and_above_Households', 'sex_ratio',
       'literacy_rate'],
      dtype='object')